{% extends 'blog_site/base.html' %} {% load static %} {% block head %}
<title>{{title}} | Adam Gaffney</title>
<meta property='og:title' content="{{title}}">
<meta property='og:image' content="{% static thumb %}">
<meta property='og:description' content="{{desc}}">
<meta property='og:url' content='{{request.get_full_path}}'>
<meta property='og:type' content='article'>
<meta property='article:author' content='{{author}}'>
<meta property='article:published_time' content='{{post_date}}'>
<meta property='article:modified_time' content='{{last_edited}}'>
<meta property='twitter:title' content='{{title}}'>
<meta property='twitter:url' content='{{request.get_full_path}}'>
<meta property='twitter:description' content='{{desc}}'>
<meta property='twitter:image' content='{% static thumb %}'> {% endblock %} {% block content %}
<main>
    <div class="page-title ">
        <h1>{{ title }}</h1>
        <div class="title-border "></div>
    </div>
    <div class="title-desc subtitle ">
        <p>{{ desc }}</p>
        <p class='date-stamp'>Posted on {{ post_date|date:'jS F Y, h:i A' }}</p>
        {% if post_date|date:'Y-m-d H:i' != last_edited|date:'Y-m-d H:i' %}
        <p class='edit-stamp'>Last edited on {{ last_edited|date:'jS F Y, h:i A' }}</p>
        {% endif %}
    </div>
    <div class="page-line-break "></div>
    <div class="article-text ">
        {{content |safe}}
    </div>
</main>
{% endblock %}