<!DOCTYPE html> {% load static %}
<html>

<head>
    <title>
        Adam Gaffney Blog
    </title>
    <link rel="icon" type="image/jpg" href="{% static 'blog_site/img/Adam Gaffney Logo.jpg' %}">
    <link rel='stylesheet' type='text/css' href="{% static 'blog_site/css/main.css' %}">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Merriweather:wght@300&display=swap" rel="stylesheet"> {% block head %} {% endblock %}
</head>

<body>
    <!-- nav bar -->
    <nav>
        <div id="hamburger">
            <div id="line-group">
                <div class="line line-1"></div>
                <div class="line"></div>
                <div class="line"></div>
            </div>
        </div>
        <ul id="hamburger-nav-list">
            <div id="list">
                <a href="{% url 'home' %}">
                    <li class="nav-item {% if request.path == '/' %}nav-selected{% endif %}">Home</li>
                </a>
                <a href="{% url 'gaming' %}">
                    <li class="nav-item {% if 'gaming' in request.path %}nav-selected{% endif %}">Gaming</li>
                </a>
                <a href="{% url 'essays' %}">
                    <li class="nav-item {% if 'essays' in request.path %}nav-selected{% endif %}">Personal Essays</li>
                </a>
                <a href="{% url 'contact' %}">
                    <li class="nav-item {% if 'contact' in request.path %}nav-selected{% endif %}">Contact Me</li>
                </a>
            </div>
        </ul>
        <div class="nav-logo">
            <img src="{% static 'blog_site/img/Logo Transparent.png' %}">
        </div>
    </nav>
    {% block content %} {% endblock %}
    <script type="text/javascript" src="{% static 'blog_site/js/main.js' %}"></script>
</body>

</html>