{% extends 'blog_site/base.html' %} {% load static %} {% block head %}
<title>{{q.title}} | Adam Gaffney</title>
<meta property='og:title' content="{{q.title}}">
<meta property='og:image' content='{{request.scheme}}://{{request.get_host}}{% static thumb %}'>
<meta property='og:description' content="{{q.desc}}">
<meta property='og:url' content='{{request.get_full_path}}'>
<meta property='og:type' content='article'>
<meta property='article:author' content='{{q.author}}'>
<meta property='article:published_time' content='{{q.post_date}}'>
<meta property='article:modified_time' content='{{q.last_edited}}'>
<meta property='keywords' content='{{q.q.keywords}}'>
<meta name='twitter:title' content='{{q.title}}'>
<meta name='twitter:url' content='{{request.get_full_path}}'>
<meta name='twitter:description' content='{{q.desc}}'>
<meta name='twitter:image' content='{{request.scheme}}://{{request.get_host}}{% static thumb %}'> {% endblock %} {% block content %}
<main style='padding-left: 0;'>
    <!-- <div id='scroll-bar-tracker'></div> -->
    <div class="page-title ">
        <h1>{{q.title }}</h1>
        <div class="title-border "></div>
    </div>
    <div class="title-desc subtitle ">
        <p>{{q.desc }}</p>
        <p class='date-stamp'>Posted on {{q.post_date|date:'jS F Y, h:i A' }}</p>
        {% if post_date|date:'Y-m-d H:i' != last_edited|date:'Y-m-d H:i' %}
        <p class='edit-stamp'>Last edited on {{q.last_edited|date:'jS F Y, h:i A' }}</p>
        {% endif %}
    </div>
    <div class="page-line-break "></div>
    <div class="article-text ">
        {{q.content |safe}}
    </div>
</main>
{% endblock %}