{% extends 'blog_site/base.html' %} {% load static %} {% block head %}
<title>Contact Me | Adam Gaffney</title>
{% endblock %} {% block content %}

<main>
    <div id='contact-form-div'>
        <form method='POST'>
            {% csrf_token %}
            <div id='contact-title'>
                <h5>Contact Me</h5>
            </div>
            <div id='contact-subtitle'>
                <h6>Please fill out the form below for any business inquiries or feedback. I respond to most messages if I can within 48 hours, but I can't guarantee a reply.</h6>
            </div>
            <div id='contact-form'>
                <p>
                    <label for='email'>User Email</label>
                    <input type=email required id='email' maxlength='254' name='email' />
                </p>
                <p>
                    <label for='subject'>Subject Line</label>
                    <input type=text required id='subject' name='subject' maxlength="255" />
                </p>
                <p>
                    <label for='message'>Message</label>
                    <textarea required id='message' cols="40" rows="10" maxlength="10000" name="message"></textarea>
                </p>
                <div id='contact-submit'>
                    <input type="submit" />
                </div>
            </div>
        </form>
    </div>
</main>
{% endblock %}