<!DOCTYPE html>

<html>

<head>
    <title>
        Adam Gaffney Blog
    </title>
    <link rel="icon" type="image/png" href="./static/img/Logo.png">
    <link rel="stylesheet" href="./static/css/main.css" type="text/css">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Merriweather:wght@300&display=swap" rel="stylesheet">
</head>

<body>
    <nav>
        <div id="hamburger">
            <div id="line-group">
                <div class="line line-1"></div>
                <div class="line"></div>
                <div class="line"></div>
            </div>
        </div>
        <ul id="hamburger-nav-list">
            <div id="list">
                <a href="./">
                    <li class="nav-item">Home</li>
                </a>
                <a href="./gaming.html">
                    <li class="nav-item nav-selected">Gaming</li>
                </a>
                <a href="./essays.html">
                    <li class="nav-item">Personal Essays</li>
                </a>
                <a href="./contactme.html">
                    <li class="nav-item">Contact Me</li>
                </a>
            </div>
        </ul>
        <div class="nav-logo">
            <img src="./static/img/Logo Transparent.png" />
        </div>
    </nav>
    <div id="overlay" class="fadeOutOverlay" style="display: none"></div>
    <main>
        <div class="page-title">
            <h1>Gaming</h1>
            <div class="title-border"></div>
        </div>
        <div class="title-desc first-paragraph">
            <p>A collection of gaming content, be it reviews, analysis or critical discussion.</p>
        </div>
        <div class="page-line-break"></div>
        <div class="article-box">
            <a href="./reviews/test_review.html" class="article-link">
                <div class="article-preview-contents">
                    <div class="article-img-wrapper">
                        <img src="./static/img/Caves and Cliffs.jpg" class="article-img-preview" />
                    </div>
                    <div class="article-text-wrapper">
                        <div class="article-header-wrapper">
                            <h3 class="article-title">Minecraft 1.17 Update Review</h3>
                        </div>
                        <div class="article-desc-wrapper">
                            <p class="article-desc">Caving has never been so exciting</p>
                        </div>
                    </div>
                </div>
            </a>
        </div>
        <div class="page-line-break"></div>
        <div class="article-box">
            <a href="./reviews/test_review.html" class="article-link">
                <div class="article-preview-contents">
                    <div class="article-img-wrapper">
                        <img src="./static/img/Logo.png" class="article-img-preview" />
                    </div>
                    <div class="article-text-wrapper">
                        <div class="article-header-wrapper">
                            <h3 class="article-title">Test</h3>
                        </div>
                        <div class="article-desc-wrapper">
                            <p class="article-desc">Test</p>
                        </div>
                    </div>
                </div>
            </a>
        </div>
        <div class="page-line-break"></div>
    </main>
    <script type="text/javascript" src="static/js/main.js"></script>
</body>

</html>