{% extends 'blog_site/base.html' %} {% load static %} {% block content %}
<!-- main -->
<main>
    <!-- About Me -->
    <div class="page-title">
        <h1>About Me</h1>
        <div class="title-border"></div>
    </div>
    <div id="about-me-text">
        <div class="first-paragraph">
            <p>My name is Adam Gaffney and welcome to my site! I'm a Scottish mathematician and data developer, looking to practise my programming and writing. Feel free to have a look around and see if anything is of interest to you.</p>
        </div>
        <div class="normal-paragraph">
            <p>Below you can find a collection of my currently posted reviews, as well as some links to my portfolio and any other variety of things I decide to put on here.</p>
        </div>
    </div>
    <div class="page-line-break"></div>
    <!-- Most recent review -->
    <div class="page-title">
        <h2>Most Recent Reviews</h2>
        <div class="title-border"></div>
    </div>
    <div class="sidescrolling-box article-list-box">
        {% for item in gaming %}
        <div class="article-box-thumbnail">
            <a href="{% url 'single_review' item.slug %}" class="article-link">
                <div class="article-preview-contents">
                    <div class="article-img-wrapper-thumbnail">
                        <img src="{% static item.thumb %}" class="article-img-preview" />
                    </div>
                    <div class="article-text-wrapper-thumbnail">
                        <div class="article-header-wrapper">
                            <h3 class="article-title-review-thumbnail">{{item.title}}</h3>
                        </div>
                    </div>
                </div>
            </a>
        </div>
        {% endfor %}
    </div>
    <!-- Most recent gaming discussions -->
    <div class="page-title">
        <h2>Most Recent Gaming Articles</h2>
        <div class="title-border"></div>
    </div>
    <div class="sidescrolling-box article-list-box">
        {% for item in gaming %}
        <div class="article-box-thumbnail">
            <a href="{% url 'single_review' item.slug %}" class="article-link">
                <div class="article-preview-contents">
                    <div class="article-img-wrapper-thumbnail">
                        <img src="{% static item.thumb %}" class="article-img-preview" />
                    </div>
                    <div class="article-text-wrapper-thumbnail">
                        <div class="article-header-wrapper">
                            <h3 class="article-title-review-thumbnail">{{item.title}}</h3>
                        </div>
                    </div>
                </div>
            </a>
        </div>
        {% endfor %}
    </div>
    <!-- Most recent opinion pieces -->
    <div class="page-title">
        <h2>Most Recent Essays</h2>
        <div class="title-border"></div>
    </div>
    <div class="sidescrolling-box article-list-box">
        {% for item in essays %}
        <div class="article-box-thumbnail">
            <a href="{% url 'single_essay' item.slug %}" class="article-link">
                <div class="article-preview-contents">
                    <div class="article-img-wrapper-thumbnail">
                        <img src="{% static item.thumb %}" class="article-img-preview" />
                    </div>
                    <div class="article-text-wrapper-thumbnail">
                        <div class="article-header-wrapper">
                            <h3 class="article-title-review-thumbnail">{{item.title}}</h3>
                        </div>
                    </div>
                </div>
            </a>
        </div>
        {% endfor %}
    </div>
</main>
{% endblock %}