{% extends 'blog_site/base.html' %} {% load static %} {% block head %}
<title>Moving Dot Project | Adam Gaffney</title>
{% endblock %} {% block content %}
<main>
    <h2 class='first-paragraph project-head'>Slow and steady wins the race...</h2>
    <div class='return-home-button'>
        <a href="{% url 'projects' %}">Return to All Projects</a>
    </div>
    <div id='moving-dot-container'>
        <div id='moving-dot-body'></div>
    </div>
</main>
<script src='{% static "blog_site/js/movingDot.js" %}'></script>
{% endblock %}