<!DOCTYPE html>

<html>

<head>
    <link rel="stylesheet" href="./static/css/style.css">
    <title>Do I Need a TV Licence?</title>
</head>

<body>
    <main>
        <h1 class="page-title">Do I need a TV Licence?</h1>
        <button class="submit-button start-button" value="submit" ondragstart="return false;">Start Quiz</button>
        <div class="content-block">
            .
            <h2 class="page-subtitle">Which of these online services do you watch?</h2>
            <div class="tile-list">
                <div class="list-item" ondragstart="return false;">
                    <div class="list-item-contents">
                        <img src="./static/img/youtube-logo.png" alt="YouTube" tabindex="0">
                        <div class="checked">✓</div>
                    </div>
                </div>
                <div class="list-item" ondragstart="return false;">
                    <div class="list-item-contents">
                        <img src="./static/img/Twitch-logo.png" alt="Twitch" tabindex="0">
                        <div class="checked">✓</div>
                    </div>
                </div>
                <div class="list-item" ondragstart="return false;">
                    <div class="list-item-contents">
                        <img src="./static/img/prime-video-logo.png" alt="Amazon Prime Video" tabindex="0">
                        <div class="checked">✓</div>
                    </div>
                </div>
                <div class="list-item" ondragstart="return false;">
                    <div class="list-item-contents">
                        <img src="./static/img/netflix-logo.png" alt="Netflix" tabindex="0">
                        <div class="checked">✓</div>
                    </div>
                </div>
                <div class="list-item" ondragstart="return false;">
                    <div class="list-item-contents">
                        <img src="./static/img/bbc-iplayer-logo.png" alt="BBC iPlayer" tabindex="0">
                        <div class="checked">✓</div>
                    </div>
                </div>
                <div class="list-item" ondragstart="return false;">
                    <div class="list-item-contents">
                        <img src="./static/img/itv-hub-logo.png" alt="ITV Hub" tabindex="0">
                        <div class="checked">✓</div>
                    </div>
                </div>
                <div class="list-item" ondragstart="return false;">
                    <div class="list-item-contents">
                        <img src="./static/img/now-tv-logo.png" alt="Now TV" tabindex="0">
                        <div class="checked">✓</div>
                    </div>
                </div>
                <div class="list-item" ondragstart="return false;">
                    <div class="list-item-contents">
                        <img src="./static/img/all4-logo.png" alt="All 4" tabindex="0">
                        <div class="checked">✓</div>
                    </div>
                </div>
            </div>
            <button class="submit-button online-services-button" value="submit" ondragstart="return false;">Submit</button>
        </div>
    </main>
    <script src="./static/js/main.js"></script>
</body>

</html>