/* base styles */

:root {
    /* --clr-bg: hsl(0, 0%, 100%);
    --clr-sidebar: hsl(0, 0%, 0%);
    --clr-overlay: hsl(0 0% 0% / 0.6);
    --clr-main-1: hsl(199, 85%, 56%);
    --clr-text-white: hsl(0, 0%, 100%);
    --clr-text-light: hsl(199, 85%, 70%); */
    /* Primary Colours */
    --clr-primary-400: hsl(199 85% 56%);
    /* Accent Colours */
    --clr-accent-500: hsl(209 100% 10%);
    --clr-accent-400: hsl(209 100% 20%);
    --clr-accent-300: hsl(209 100% 30%);
    --clr-accent-200: hsl(209 100% 40%);
    --clr-accent-100: hsl(209 100% 50%);
    /* Neutral Colours */
    --clr-neutral-950: hsl(232 12% 7%);
    --clr-neutral-900: hsl(232 12% 13%);
    --clr-neutral-200: hsl(0 0% 97%);
    --clr-neutral-100: hsl(0 0% 100%);
    /* Font Family */
    --ff-primary: 'Roboto', Arial, sans-serif;
    /* Font Weight */
    --fw-regular: 400;
    --fw-semi-bold: 500;
    --fw-bold: 700;
    /* Font Size */
    --fs-100: 0.8125rem;
    --fs-200: 0.875rem;
    --fs-300: 0.9375rem;
    --fs-400: 1rem;
    --fs-500: 1.25rem;
    --fs-600: 1.5rem;
    --fs-700: 1.75rem;
    --fs-800: 2rem;
    --fs-900: 3rem;
    /* --fs-body: var(--fs-400);
    --fs-primary-heading: var(--fs-800);
    --fs-secondary-heading: var(--fs-700);
    --fs-nav: var(--fs-500);
    --fs-button: var(--fs-300); */
    /* Sizes */
    --size-100: 0.25rem;
    --size-200: 0.5rem;
    --size-300: 0.75rem;
    --size-400: 1rem;
    --size-500: 1.5rem;
    --size-600: 2rem;
    --size-700: 3rem;
    --size-800: 4rem;
    --size-900: 5rem;
    --size-1000: 10rem;
}

html {
    font-family: var(--ff-primary);
}

body {
    /* variables for light mode */
    --clr-background: var(--clr-neutral-200);
    --clr-text: var(--clr-neutral-900);
    /* other styles */
    min-height: 100vh;
    max-height: 100%;
    position: relative;
    display: grid;
    grid-template-columns: 1fr 80% 1fr;
    background-color: var(--clr-background);
    color: var(--clr-text);
    transition: background-color .3s, color .3s;
}

.dark-mode {
    --clr-background: var(--clr-neutral-900);
    --clr-text: var(--clr-neutral-200);
}

img {
    max-width: 100%;
    max-height: 100%;
}


/* navigation */

.skip-nav {
    position: absolute;
    opacity: 0;
    z-index: 100;
}

.skip-nav:focus {
    opacity: 1;
}

nav {
    display: grid;
    /* position: stic; */
    clip-path: inset(-5px -100vmax);
    z-index: 10;
    width: 100%;
    font-size: var(--fs-400);
    background-color: var(--clr-background);
    box-shadow: 0 5px 0 100vmax var(--clr-background);
    transition: background-color .3s, color .3s, box-shadow .3s, transform .3s;
    grid-column: 2/3;
}

nav::after {
    content: '';
    width: 100%;
    height: 80px;
    position: absolute;
    box-shadow: 0 5px var(--size-100) calc(var(--size-100)*-1) var(--clr-neutral-950);
    z-index: -1;
}

.nav-list {
    margin: 0;
    padding: 0;
}

.nav-list li {
    position: relative;
    overflow: hidden;
    padding-inline: 4px;
}

.nav-list li a:focus,
.nav-list li a:focus-within {
    outline: none;
}

.nav-list li::after,
.other-link-list li::after {
    content: '';
    border-bottom: 2px solid var(--clr-accent-100);
    width: 100%;
    position: absolute;
    bottom: 0;
    left: 0;
    transform: translateX(-105%);
    transition: transform .3s ease-in .27s;
}

.nav-list li::before,
.other-link-list li::before {
    content: '';
    border-right: 2px solid var(--clr-accent-100);
    height: 100%;
    position: absolute;
    bottom: 0;
    right: 0;
    transform: translateY(105%);
    transition: transform .3s ease-in;
}

.nav-list li:hover::before,
.nav-list li:focus::before,
.nav-list li:focus-within::before,
.other-link-list li:hover::before,
.other-link-list li:focus::before,
.other-link-list li:focus-within::before {
    transition: transform .3s ease-in .27s;
    transform: translateY(0);
}

.nav-list li:hover::after,
.nav-list li:focus::after,
.nav-list li:focus-within::after,
.other-link-list li:hover::after,
.other-link-list li:focus::after,
.other-link-list li:focus-within::after {
    transition: transform .3s ease-in;
    transform: translateX(0);
}

.light-dark-button {
    height: 2.5rem;
    width: 4rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

.light-dark-container {
    cursor: pointer;
    height: 1rem;
    width: 3rem;
    display: flex;
    border: 1px solid var(--clr-text);
    box-sizing: initial;
    border-radius: 50rem;
    padding: 1px;
}

.light-dark-selector {
    position: relative;
    width: 1rem;
    height: 1rem;
    border-radius: 50%;
    background-color: var(--clr-text);
    transition: transform .3s, background-color .3s, color .3s;
}

.light-dark-svg {
    position: absolute;
}

.search-bar {
    display: flex;
    text-align: center;
}

.search-input {
    background-color: var(--clr-text);
    color: var(--clr-background);
    transition: transform .3s, background-color .3s, color .3s;
    padding: 4px;
    border: none;
    border-radius: var(--size-200) 0 0 var(--size-200);
}

.search-button {
    fill: var(--clr-background);
    background-color: var(--clr-text);
    display: flex;
    transition: fill .3s, background-color .3s;
    border: none;
    border-radius: 0 var(--size-200) var(--size-200) 0;
    padding: 4px;
    border-left: 1px solid var(--clr-background);
    cursor: pointer;
}


/* main */

main {
    grid-column: 2/3;
    transition: transform .3s;
}


/* footer */

footer {
    display: grid;
    grid-column: 2/3;
    width: 100%;
    position: absolute;
    bottom: 0;
    color: var(--clr-neutral-200);
    background-color: var(--clr-accent-300);
    font-size: var(--fs-400);
    place-items: center center;
    box-shadow: 0 0 0 100vmax var(--clr-accent-300);
    clip-path: inset(0 -100vmax);
}

.list-heading {
    font-size: var(--fs-500);
    font-weight: var(--fw-semi-bold);
}

.social-link-list {
    display: flex;
    gap: var(--size-400);
}

.social-link-list li {
    width: var(--size-600);
}

.other-links {
    display: flex;
    gap: var(--size-500);
}

.other-link-list li {
    position: relative;
    overflow: hidden;
    width: fit-content;
}

.other-link-list li::before,
.other-link-list li::after {
    border-color: var(--clr-neutral-200);
}

.other-link-list li a {
    padding: 6px;
}

.copyright {
    padding: var(--size-100);
    place-self: end end;
}


/* chess dialogue styles */

.dialogue-box {
    padding: 1rem;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    background: var(--clr-neutral-200);
    border: 1px solid var(--clr-accent-400);
    border-radius: 1rem;
    z-index: 100;
    position: absolute;
    width: 90%;
    max-width: 800px;
    margin: 0.5rem;
    pointer-events: auto;
    z-index: 9;
    box-shadow: 0 0 0 100vmax var(--clr-neutral-900);
}

.chess-settings-dialogue {
    top: 50%;
    left: 50%;
}


/* .dialogue-overlay {
    width: 100%;
    height: 100%;
    position: absolute;
    background: var(--clr-overlay);
    z-index: 1;
} */


/* media queries */

@media screen and (min-width: 45rem) {
    /* base styles */
    body {
        grid-template-rows: 80px 1fr 160px;
    }
    /* navigation */
    nav {
        grid-template-columns: 80px 1fr 250px;
        grid-template-rows: var(--size-900);
        place-items: center;
    }
    .nav-list {
        display: flex;
        gap: clamp(var(--size-400), 5vw, var(--size-800));
    }
    /* footer */
    footer {
        grid-template-rows: var(--size-1000);
        grid-template-columns: repeat(3, minmax(var(--size-1000), 1fr));
    }
}

@media (prefers-color-scheme: dark) {
    /* base styles */
     :root {
        --clr-background: var(--clr-neutral-900);
        --clr-text: var(--clr-neutral-200);
    }
}