@media(max-width:1023px) {
    html,
    body {
        padding: 0;
        margin: 0;
        font-family: 'Merriweather', serif;
        font-size: 2em;
        background-color: #f1efef;
    }
    p {
        font-family: Arial, Helvetica, sans-serif;
    }
    /* All nav bar CSS */
    nav {
        position: fixed;
        background-color: #579ED9;
        width: 100%;
        height: 123px;
        margin: 0;
        padding: 10px;
        padding-left: 0;
        z-index: 999;
    }
    #hamburger {
        display: block;
        width: 150px;
        height: 120px;
        border-radius: 10px;
        cursor: pointer;
        margin-bottom: 12px;
        margin-left: 10px;
        margin-right: 0;
    }
    #hamburger:hover {
        background: rgba(20, 87, 196, 0.705);
        transition-duration: 300ms;
    }
    #line-group {
        margin: 0 auto;
        padding-top: 20%;
    }
    .line {
        background-color: white;
        height: 6px;
        width: 90px;
        border-radius: 4px;
        margin: 0 auto;
        margin-top: 20px;
        z-index: 9999;
    }
    .line-1 {
        background-color: white;
        height: 6px;
        width: 90px;
        border-radius: 4px;
        margin: 0 auto;
        margin-top: 0px;
        z-index: 9999;
    }
    #hamburger-nav-list {
        display: inline-block;
        list-style: none;
        margin: 0;
        padding: 0 10px 0 0;
        max-height: 0;
        overflow: hidden;
        position: fixed;
        width: 99.5%;
        background-color: #579ED9;
        border-bottom-left-radius: 20px;
        border-bottom-right-radius: 20px;
        transition: max-height 0.3s ease-out;
        z-index: 10;
    }
    #list {
        padding: 10px;
    }
    .nav-item {
        font-size: 60px;
        color: white;
        padding: 5px;
    }
    .nav-selected {
        text-decoration: underline;
    }
    a {
        text-decoration: none;
        width: 50%;
    }
    a,
    a:visited,
    a:hover,
    a:active {
        color: inherit;
        background-color: inherit;
    }
    .nav-logo {
        position: absolute;
        width: 160px;
        top: 0;
        right: 0;
    }
    .nav-logo img {
        width: 95%;
    }
    /* generic main stuff */
    main {
        /* background-color: #fdfbfb; */
        min-height: 90vh;
        height: 90vh;
        padding-left: 10px;
        padding-top: 150px;
    }
    .page-title {
        display: grid;
        grid-template-columns: 20% 30% 43% 7%;
        grid-template-rows: 60% 40%;
        margin: 20px;
    }
    .page-title h1 {
        grid-column-start: 1;
        grid-column-end: 5;
        grid-row-start: 1;
        grid-row-end: 3;
        font-size: 100px;
        margin: 0;
        padding-bottom: 20px;
    }
    .page-title h2 {
        grid-column-start: 1;
        grid-column-end: 5;
        grid-row-start: 1;
        grid-row-end: 3;
        font-size: 70px;
        margin: 0;
        padding-bottom: 20px;
        padding-left: 50px;
        color: rgb(66, 66, 66);
    }
    .title-border {
        grid-column-start: 2;
        grid-column-end: 4;
        grid-row-start: 2;
        grid-row-end: 3;
        border-bottom: 10px solid #579ED9;
        border-right: 10px solid #579ED9;
        z-index: 10;
    }
    .title-desc p {
        /* font-size: 40px; */
        /* font-weight: 500; */
        margin: 0 20px;
        margin-bottom: 20px;
    }
    .page-line-break {
        width: 92%;
        height: 10px;
        background-color: #579ED9;
        border-radius: 30px;
        margin: 0 auto;
        margin-bottom: 40px;
    }
    /* home page stuff */
    .first-paragraph {
        font-size: 35px;
        color: rgba(20, 87, 196);
        font-weight: bold;
        margin-left: 90px;
        margin-right: 90px;
    }
    .normal-paragraph {
        font-size: 30px;
        margin: 0 60px;
    }
    .bold-indent {
        font-size: 50px !important;
        font-weight: bolder;
        border-left: 10px solid rgba(20, 87, 196);
        padding-left: 40px;
        margin-left: 50px;
    }
    .sidescrolling-box {
        overflow: scroll;
        overflow-y: hidden;
        height: 317px;
        white-space: nowrap;
        margin: 0 60px;
    }
    .article-box-thumbnail {
        display: inline-block;
        margin-bottom: 40px;
        width: 40%;
        min-width: 364px;
        height: 300px;
        min-height: 300px;
        max-height: 300px;
        vertical-align: top;
    }
    .article-img-wrapper-thumbnail {
        overflow: hidden;
        border-radius: 10px;
        max-height: 300px;
    }
    .article-img-wrapper-thumbnail img {
        width: 100%;
        min-width: 364px;
        height: 100%;
        min-height: 300px;
        overflow: hidden;
        object-fit: cover;
    }
    .article-text-wrapper-thumbnail {
        background-color: #579fd9e3;
        position: absolute;
        bottom: 0;
        width: 100%;
        padding: 10px 0;
        border-bottom-left-radius: 10px;
        border-bottom-right-radius: 10px;
        white-space: normal;
    }
    .essay-text-wrapper-thumbnail {
        background-color: #274ae7d8;
        position: absolute;
        bottom: 0;
        width: 100%;
        padding: 10px 0;
        border-bottom-left-radius: 10px;
        border-bottom-right-radius: 10px;
        white-space: normal;
    }
    .article-title-thumbnail {
        font-size: 30px;
        color: rgb(174, 231, 235);
        padding-left: 20px;
        margin: 0;
    }
    .article-title-review-thumbnail {
        font-size: 30px;
        color: #0000d1;
        padding-left: 20px;
        margin: 0;
    }
    /* reviews page stuff */
    .article-box {
        display: block;
        margin: 0 auto;
        margin-bottom: 40px;
        width: 90%;
        min-width: 200px;
        /* max-width: 600px; */
        height: 33%;
        min-height: 600px;
        max-height: 600px;
    }
    .article-link {
        width: 100%;
        height: 100%;
    }
    .article-preview-contents {
        position: relative;
        width: 100%;
        height: 100%;
        max-height: 600px;
    }
    .article-img-wrapper {
        width: 100%;
        height: 100%;
        overflow: hidden;
        border-radius: 10px;
    }
    .article-img-wrapper img {
        width: 100%;
        height: 100%;
    }
    .article-text-wrapper {
        background-color: #579fd9e3;
        position: absolute;
        bottom: 0;
        width: 100%;
        padding: 10px 0;
        border-bottom-left-radius: 10px;
        border-bottom-right-radius: 10px;
    }
    .article-text p {
        font-size: 35px;
        padding: 0 40px !important;
    }
    .article-title {
        font-size: 50px;
        color: #0000d1;
        padding-left: 20px;
        margin: 0;
    }
    .article-desc-wrapper {
        overflow: hidden;
    }
    .article-desc {
        font-size: 40px;
        color: rgba(34, 34, 34, 0.966);
        padding-left: 60px;
        margin: 0;
    }
    img {
        max-width: 100%;
    }
    /* review page */
    .subtitle {
        font-size: 50px;
        color: rgba(20, 87, 196);
        font-weight: bold;
        margin-left: 180px;
        margin-right: 65px;
    }
    .rest-of-article {
        margin: 20px 60px;
    }
    .rest-of-article p {
        font-size: 30px;
    }
    .inset-img {
        position: block;
        width: 100%;
        height: 100%;
    }
    /* essay section */
    .essay-text-wrapper {
        background-color: #274ae7d8;
        position: absolute;
        bottom: 0;
        width: 100%;
        padding: 10px 0;
        border-bottom-left-radius: 10px;
        border-bottom-right-radius: 10px;
    }
    #pdf-link {
        color: #579fd9e3;
        text-align: center;
    }
    /* contact form */
    /* #contact-form-div {
        background-color: white;
        border-radius: 10px;
        border: 0.5px solid rgb(131, 131, 131);
    } */
    #contact-title h5 {
        font-size: 70px;
        text-align: center;
        margin: 0;
    }
    #contact-subtitle {
        padding: 0 40px;
    }
    #contact-form-div p {
        font-family: 'Merriweather', serif;
        padding: 0 40px;
        margin: 5px 0;
    }
    input[type=text],
    input[type=email] {
        font-size: 30px;
        margin: 20px 0;
        padding-left: 20px;
        width: 100%;
        height: 50px;
        border-radius: 20px;
    }
    #contact-submit {
        padding: 0 40px;
    }
    input[type=submit] {
        font-size: 50px;
        margin: 20px 0;
        padding: 20px 0;
        width: 100%;
        border-radius: 20px;
        background-color: #579ED9;
        color: white;
    }
    #contact-form tr {
        height: 150px;
    }
    #contact-form th {
        text-align: end;
    }
    #contact-form th label {
        font-size: 50px;
    }
    #contact-form textarea {
        font-family: Arial, Helvetica, sans-serif;
        font-size: 30px;
        resize: none;
        margin: 20px 0;
        padding-left: 10px;
        width: 100%;
        height: 500px;
        border-radius: 20px;
    }
    input:focus,
    textarea:focus {
        box-shadow: 0 0 0 3pt grey;
        outline: none;
        transition: .1s;
    }
    #contact-form-success {
        margin: 0 20px;
    }
    #contact-form-success #img-container {
        text-align: center;
        margin-top: 30px;
    }
    #contact-form-success h5 {
        font-size: 70px;
        text-align: center;
        margin: 0;
        margin-top: 30px;
    }
    #contact-form-success h6 {
        margin: 20px 0;
        padding: 0 40px;
    }
    #contact-form-failure h5 {
        font-size: 70px;
        text-align: center;
        margin: 0;
        margin-top: 60px;
    }
    #contact-form-failure h6 {
        margin: 20px 0;
        padding: 0 40px;
    }
}

@media (min-width: 1024px) {
    /* All nav bar CSS */
    html,
    body {
        padding: 0;
        margin: 0;
        font-family: 'Merriweather', serif;
        font-size: 2em;
        background-color: #f1efef;
    }
    p {
        font-family: Arial, Helvetica, sans-serif;
    }
    /* All nav bar CSS */
    nav {
        position: fixed;
        background-color: #579ED9;
        width: 100%;
        height: 60px;
        margin: 0;
        padding: 10px;
        padding-left: 0;
        z-index: 999;
    }
    #hamburger {
        display: none;
    }
    #hamburger-nav-list {
        margin: 0;
        font-size: 0;
    }
    #list {
        padding: 10px;
    }
    .nav-item {
        font-size: 20px;
        color: white;
        display: inline-block;
        padding: 5px 30px;
    }
    .nav-item:hover {
        background-color: #278adb;
        border-radius: 4px;
        transition: 0.3s;
    }
    a {
        text-decoration: none;
        width: 50%;
    }
    a,
    a:visited,
    a:hover,
    a:active {
        color: inherit;
        background-color: inherit;
    }
    .nav-logo {
        position: absolute;
        width: 80px;
        top: 0;
        right: 20px;
    }
    .nav-logo img {
        width: 95%;
    }
    /* generic main stuff */
    main {
        min-height: 90vh;
        height: 90vh;
        padding-left: 10px;
        padding-top: 60px;
    }
    .page-title {
        display: grid;
        grid-template-columns: 20% 30% 43% 7%;
        grid-template-rows: 60% 40%;
        margin: 20px;
    }
    .page-title h1 {
        grid-column-start: 1;
        grid-column-end: 5;
        grid-row-start: 1;
        grid-row-end: 3;
        font-size: 80px;
        margin: 0;
        margin-left: 70px;
    }
    .page-title h2 {
        grid-column-start: 1;
        grid-column-end: 5;
        grid-row-start: 1;
        grid-row-end: 3;
        font-size: 40px;
        margin: 0;
        margin-left: 70px;
        padding-bottom: 10px;
        padding-left: 50px;
        color: rgb(66, 66, 66);
    }
    .title-border {
        grid-column-start: 2;
        grid-column-end: 4;
        grid-row-start: 2;
        grid-row-end: 3;
        border-bottom: 5px solid #579ED9;
        border-right: 5px solid #579ED9;
        z-index: 10;
    }
    .title-desc p {
        font-size: 40px;
        /* font-weight: 500; */
        margin: 0 20px;
        margin-bottom: 20px;
    }
    .page-line-break {
        width: 92%;
        height: 10px;
        background-color: #579ED9;
        border-radius: 30px;
        margin: 0 auto;
        margin-bottom: 40px;
    }
    /* home page stuff */
    .first-paragraph {
        font-size: 25px;
        color: rgba(20, 87, 196);
        font-weight: bold;
        margin-left: 120px;
        margin-right: 90px;
    }
    .normal-paragraph {
        font-size: 20px;
        margin: 0 120px;
    }
    .bold-indent {
        font-size: 50px !important;
        font-weight: bolder;
        border-left: 10px solid rgba(20, 87, 196);
        padding-left: 40px;
        margin-left: 50px;
    }
    .sidescrolling-box {
        overflow: none;
        overflow-y: hidden;
        height: 317px;
        white-space: nowrap;
        margin: 0 80px;
        margin-left: 100px;
    }
    .article-box-thumbnail {
        display: inline-block;
        margin-bottom: 40px;
        width: 32%;
        vertical-align: top;
    }
    .article-img-wrapper-thumbnail {
        overflow: hidden;
        display: flex;
        justify-content: center;
        border-radius: 10px;
        max-height: 300px;
    }
    .article-img-wrapper-thumbnail img {
        width: 100%;
        min-width: 364px;
        height: 100%;
        min-height: 300px;
        overflow: hidden;
        object-fit: cover;
    }
    .article-text-wrapper-thumbnail {
        background-color: #579fd9e3;
        position: absolute;
        bottom: 0;
        width: 100%;
        padding: 10px 0;
        border-bottom-left-radius: 10px;
        border-bottom-right-radius: 10px;
        white-space: normal;
    }
    .essay-text-wrapper-thumbnail {
        background-color: #274ae7d8;
        position: absolute;
        bottom: 0;
        width: 100%;
        padding: 10px 0;
        border-bottom-left-radius: 10px;
        border-bottom-right-radius: 10px;
        white-space: normal;
    }
    .article-title-thumbnail {
        font-size: 30px;
        color: rgb(174, 231, 235);
        padding-left: 20px;
        margin: 0;
    }
    .article-title-review-thumbnail {
        font-size: 30px;
        color: #0000d1;
        padding-left: 20px;
        margin: 0;
    }
    /* reviews page stuff */
    .article-box-container {
        margin: 0 auto;
    }
    .article-box {
        display: inline-block;
        margin-bottom: 40px;
        width: 30%;
        height: 33%;
    }
    .article-link {
        width: 100%;
        height: 100%;
    }
    .article-preview-contents {
        position: relative;
        width: 100%;
        height: 100%;
        max-height: 600px;
    }
    .article-img-wrapper {
        width: 100%;
        height: 100%;
        overflow: hidden;
        border-radius: 10px;
    }
    .article-img-wrapper img {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
    .article-text-wrapper {
        background-color: #579fd9e3;
        position: absolute;
        bottom: 0;
        width: 100%;
        padding: 10px 0;
        border-bottom-left-radius: 10px;
        border-bottom-right-radius: 10px;
    }
    .article-text p {
        font-size: 35px;
        padding: 0 40px !important;
    }
    .article-title {
        font-size: 20px;
        color: #0000d1;
        padding-left: 20px;
        margin: 0;
    }
    .article-desc-wrapper {
        overflow: hidden;
    }
    .article-desc {
        font-size: 15px;
        color: rgba(34, 34, 34, 0.966);
        padding-left: 60px;
        margin: 0;
    }
    img {
        max-width: 100%;
    }
    /* review page */
    .subtitle {
        font-size: 50px;
        color: rgba(20, 87, 196);
        font-weight: bold;
        margin-left: 180px;
        margin-right: 65px;
    }
    .rest-of-article {
        margin: 20px 60px;
    }
    .rest-of-article p {
        font-size: 30px;
    }
    .inset-img {
        position: block;
        width: 100%;
        height: 100%;
    }
    /* essay section */
    .essay-text-wrapper {
        background-color: #274ae7d8;
        position: absolute;
        bottom: 0;
        width: 100%;
        padding: 10px 0;
        border-bottom-left-radius: 10px;
        border-bottom-right-radius: 10px;
    }
    #pdf-link {
        color: #579fd9e3;
        text-align: center;
    }
    /* contact form */
    /* #contact-form-div {
    background-color: white;
    border-radius: 10px;
    border: 0.5px solid rgb(131, 131, 131);
} */
    #contact-title h5 {
        font-size: 70px;
        text-align: center;
        margin: 0;
    }
    #contact-subtitle {
        padding: 0 40px;
    }
    #contact-form-div p {
        font-family: 'Merriweather', serif;
        padding: 0 40px;
        margin: 5px 0;
    }
    input[type=text],
    input[type=email] {
        font-size: 30px;
        margin: 20px 0;
        padding-left: 20px;
        width: 100%;
        height: 50px;
        border-radius: 20px;
    }
    #contact-submit {
        padding: 0 40px;
    }
    input[type=submit] {
        font-size: 50px;
        margin: 20px 0;
        padding: 20px 0;
        width: 100%;
        border-radius: 20px;
        background-color: #579ED9;
        color: white;
    }
    #contact-form tr {
        height: 150px;
    }
    #contact-form th {
        text-align: end;
    }
    #contact-form th label {
        font-size: 50px;
    }
    #contact-form textarea {
        font-family: Arial, Helvetica, sans-serif;
        font-size: 30px;
        resize: none;
        margin: 20px 0;
        padding-left: 10px;
        width: 100%;
        height: 500px;
        border-radius: 20px;
    }
    input:focus,
    textarea:focus {
        box-shadow: 0 0 0 3pt grey;
        outline: none;
        transition: .1s;
    }
    #contact-form-success {
        margin: 0 20px;
    }
    #contact-form-success #img-container {
        text-align: center;
        margin-top: 30px;
    }
    #contact-form-success h5 {
        font-size: 70px;
        text-align: center;
        margin: 0;
        margin-top: 30px;
    }
    #contact-form-success h6 {
        margin: 20px 0;
        padding: 0 40px;
    }
    #contact-form-failure h5 {
        font-size: 70px;
        text-align: center;
        margin: 0;
        margin-top: 60px;
    }
    #contact-form-failure h6 {
        margin: 20px 0;
        padding: 0 40px;
    }
}