:root {
    --clr-select: hsl(177, 50%, 50%);
}

body {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.play-board {
    width: 90vw;
    height: 90vh;
    margin: 1rem;
    display: flex;
    gap: 2rem;
}

.sudoku-grid {
    display: inline-block;
    position: relative;
    width: 100%;
    vertical-align: middle;
    overflow: visible;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.box {
    shape-rendering: crispEdges;
}

.cell {
    cursor: pointer;
    fill: var(--clr-bg);
}

.svg {
    display: inline-block;
    position: absolute;
    top: 0;
    left: 0;
    max-height: 90vh;
    overflow: visible;
}

.grid-lines {
    z-index: 4;
}

.selected-cells {
    z-index: 3;
}

.added-digits {
    z-index: 5;
    font-size: 5.5em;
    font-family: Arial, Helvetica, sans-serif;
}

.given-digits {
    z-index: 5;
    font-size: 5.5em;
    font-family: Arial, Helvetica, sans-serif;
}

.centre-pencilmarks {
    z-index: 2;
    font-size: 2em;
    font-family: Arial, Helvetica, sans-serif;
}

.corner-pencilmarks {
    z-index: 2;
    font-size: 1.6em;
    font-family: Arial, Helvetica, sans-serif;
}

.copyright {
    position: absolute;
    bottom: 0.2em;
    right: 0.2em;
}

.copyright a,
.copyright a:active,
.copyright a:visited,
.copyright a:hover {
    color: red;
    text-decoration: none;
}

.sudoku-info {
    border: 1px solid black;
    display: flex;
    flex-direction: column;
    height: 100%;
    align-self: center;
    font-size: 2rem;
    padding: 1rem 5rem;
}

.sudoku-board-entry {
    width: 80%;
    height: 10%;
    border: 1px solid;
    display: none;
}