.skip-nav {
    position: absolute;
    opacity: 0;
    z-index: 100;
}

.skip-nav:focus {
    opacity: 1;
}

nav {
    display: grid;
    clip-path: inset(-5px -100vmax);
    z-index: 10;
    width: 100%;
    font-size: var(--fs-400);
    background-color: var(--clr-background);
    box-shadow: 0 5px 0 100vmax var(--clr-background);
    transition: background-color .3s, color .3s, box-shadow .3s, transform .3s;
    grid-column: 2/3;
}

nav::after {
    content: '';
    width: 100%;
    height: 80px;
    position: absolute;
    box-shadow: 0 5px var(--size-100) calc(var(--size-100)*-1) var(--clr-neutral-950);
    z-index: -1;
}

.nav-list {
    margin: 0;
    padding: 0;
}

.nav-list li {
    position: relative;
    overflow: hidden;
    padding-inline: 4px;
}

.nav-list li a:focus,
.nav-list li a:focus-within {
    outline: none;
}

.nav-list li::after,
.other-link-list li::after {
    content: '';
    border-bottom: 2px solid var(--clr-accent-100);
    width: 100%;
    position: absolute;
    bottom: 0;
    left: 0;
    transform: translateX(-105%);
    transition: transform .3s ease-in .27s;
}

.nav-list li::before,
.other-link-list li::before {
    content: '';
    border-right: 2px solid var(--clr-accent-100);
    height: 100%;
    position: absolute;
    bottom: 0;
    right: 0;
    transform: translateY(105%);
    transition: transform .3s ease-in;
}

.nav-list li:hover::before,
.nav-list li:focus::before,
.nav-list li:focus-within::before,
.other-link-list li:hover::before,
.other-link-list li:focus::before,
.other-link-list li:focus-within::before {
    transition: transform .3s ease-in .27s;
    transform: translateY(0);
}

.nav-list li:hover::after,
.nav-list li:focus::after,
.nav-list li:focus-within::after,
.other-link-list li:hover::after,
.other-link-list li:focus::after,
.other-link-list li:focus-within::after {
    transition: transform .3s ease-in;
    transform: translateX(0);
}

.light-dark-button {
    height: 2.5rem;
    width: 4rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

.light-dark-container {
    cursor: pointer;
    height: 1rem;
    width: 3rem;
    display: flex;
    border: 1px solid var(--clr-text);
    box-sizing: initial;
    border-radius: 50rem;
    padding: 1px;
}

.light-dark-selector {
    position: relative;
    width: 1rem;
    height: 1rem;
    border-radius: 50%;
    background-color: var(--clr-text);
    transition: transform .3s, background-color .3s, color .3s;
}

.light-dark-svg {
    position: absolute;
}

.search-bar {
    display: flex;
    text-align: center;
}

.search-input {
    background-color: var(--clr-text);
    color: var(--clr-background);
    transition: transform .3s, background-color .3s, color .3s;
    padding: 4px;
    border: none;
    border-radius: var(--size-200) 0 0 var(--size-200);
}

.search-button {
    fill: var(--clr-background);
    background-color: var(--clr-text);
    display: flex;
    transition: fill .3s, background-color .3s;
    border: none;
    border-radius: 0 var(--size-200) var(--size-200) 0;
    padding: 4px;
    border-left: 1px solid var(--clr-background);
    cursor: pointer;
}

@media screen and (min-width: 45rem) {
    nav {
        grid-template-columns: 80px 1fr 80px;
        grid-template-rows: var(--size-900);
        place-items: center;
    }

    .nav-list {
        display: flex;
        gap: clamp(var(--size-400), 5vw, var(--size-800));
    }
}